@page "/login"

@inherits Components.CustomBaseComponent
@if (AuthState.isAuthenticated)
{
    <h2 class="title">You are already signed in</h2>
}
else
{
    <div class="container">
        <div class="row justify-content-center">
            <EditForm Model="@_login" OnValidSubmit="LogIn" class="col-lg-5 col-md-8 form">
                <h2 class="title">Sign in</h2>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <p class="item__text font-weight-bold error">@_error</p>
                <InputText @bind-Value="@_login.Email" placeholder="Email" class="input"  />
                <InputText @bind-Value="@_login.Password" type="password" placeholder="Password" class="input" />
                <input type="submit" value="Sign in" class="button" />
            </EditForm>
        </div>
    </div>
}


@code {
    private Models.Login _login = new Models.Login();
    private string _error;
    private async Task LogIn()
    {
        var loggedUser = await authService.LogIn(_login);
        if (loggedUser != null)
        {
            navManager.NavigateTo("/account");
        }
        else
        {
            _error = "Login failed";
        }


    }
}
