@page "/users/{Id:long}"
@using FrontEndApp.Pages.Shared
@inherits Components.CustomBaseComponent
@if (Id ==0)
{
    <p>Loading...</p>
}
else
{
<div class="d-flex flex-column align-items-center">
    <div class="products__content_item user__details details col-lg-8">
        <User Id="Id" />
    </div>
    @*<div class="products__content_item user__details details col-lg-8">
        <FrontEndApp.Pages.Shared.Feedbacks UserId="Id" />
    </div>*@
</div>
}
@code {
    [Parameter]
    public long Id { get; set; }
}
