@inject AppState _appState
@page "/users/{Id:long}"
<section class="account__details">
    <div class="container ">
        <div class="row d-flex justify-content-center">
            <div class="account__details_left col-md-5">
            <User Id="Id" />
            </div>
        </div>
    </div>
    <Posts Filter="new Filter { Owner = Id}" Title="My posts" />
</section>
@code {
    [Parameter]
    public long Id { get; set; }
    protected override void OnInitialized()
    {
        _appState.SetPageTitle("User details");
    }
}
