@import '../fonts/stylesheet.css';
/*=====================root=======================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans Regular';
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

input {
    border: none;
    outline: none;
}

select {
    border: none;
    outline: none;
}
/*=====================/root=======================*/
/*=====================header=======================*/

.navigation {
    z-index: 999;
    position: relative;
    padding: 36px 0;
    background-color: #000;
}

.navigation__logo {
    margin-right: 20px;
    font-size: 16px;
    color: #fff;
    line-height: 15.53px;
}

    .navigation__logo:hover {
        color: #fff;
    }

.navigation__link {
    font-size: 14px;
    color: #fff;
    line-height: 18.12px;
    margin: 0 20px;
}

    .navigation__link:hover {
        color: #fff;
    }

.music_logo {
    background-color: #fc03fc;
    border-radius: 3px;
    font-family: Arial;
    font-size: 16px;
    color: #fff;
    line-height: 15.53px;
    padding: 8px 10px;
    margin-right: 3px;
}
/*=====================/header=======================*/
/*=====================main==========================*/
main {
    padding-top: 30px;
}

h1 {
    margin: auto;
    font-size: 30px;
    padding-top: 50px;
    margin-bottom: 50px;
    font-family: 'PT Sans Bold';
}

.title {
    font-size: 26px;
    font-family: 'PT Sans Bold';
    margin-bottom: 30px;
}

.button {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #232323;
    padding-top: 17px;
    padding-bottom: 15px;
    font-family: 'PT Sans Bold';
    font-size: 14px;
    color: #fff;
    line-height: 18.12px;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.7s;
}

    .button:hover {
        color: #fff;
    }

.btn-danger {
    background-color: #c90000;
}

.input {
    width: 100%;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18.12px;
    background-color: #F2F2F2;
    margin-bottom: 10px;
}

.error {
    color: #c90000;
}

.form {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

.modal {
    z-index: 9999;
}

.products {
/*    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: start;*/
}

.products__content {
    grid-column: span 2;
    padding-top: 30px;
    padding-bottom: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 40px;
}

.products__filter {
    padding-left: 70px;
}

.products__content_item {
    position: relative;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #ccc9c8;
    transition: 0.7s;
    padding: 30px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .products__content_item:hover {
        box-shadow: 0px 0px 10px #b5b2b1;
    }

.item_logo {
    width: max-content;
    font-size: 12px;
    margin-bottom: 20px
}

.item__description {
    padding: 0px 0px 23px 0px;
}

.item__title {
    color: #171717;
    font-size: 22px;
    line-height: 36px;
    font-family: 'PT Sans Bold';
    text-transform: capitalize;
}

.item__price {
    padding: 10px 0;
    border-top: 1px #ebebeb solid;
    font-size: 20px;
}

.item__details {
    font-size: 14px;
    color: #666;
    line-height: 18.12px;
    font-style: italic;
    right: 0;
}

.products .button {
    margin-bottom: 0px;
}

.input_container {
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 1;
    font-size: 12px;
    padding: 5px;
}

    .input_container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5e9c9;
    border-radius: 3px;
    z-index: -1;
}

.input_container:hover input ~ .checkmark {
    background-color: #f0d384;
}

/* When the radio button is checked, add a blue background */
.input_container input:checked ~ .checkmark {
    background-color: #f0d384;
}

.filter__category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 30px;
}

.filter__title {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'PT Sans Bold';
}

.product__details_title {
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'PT Sans Bold';
    text-transform: capitalize;
}

.product__details {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.details {
    grid-column: span 2;
    text-align: start;
    font-size: 20px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item__text {
    margin-bottom: 10px;
    text-align: start;
}

    .item__text span {
        font-family: 'PT Sans Bold';
    }

.details .user_details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details:hover {
    box-shadow: 0px 0px 5px #ccc9c8;
}

.users__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.user__details .user_details {
    margin-top: 30px;
}

.user__details_title {
    font-size: 26px;
    padding-top: 30px;
    margin-bottom: 30px;
    font-family: 'PT Sans Bold';
    text-align: start;
}

.user__details_products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

    .user__details_products .products__content_item {
        text-align: start;
    }
.feedbacks {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*=====================/main==========================*/
