<footer id="aa-footer">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="aa-footer-area">
                <div class="row justify-content-between">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="aa-footer-left">
                            <p>Designed by <a rel="nofollow" href="http://www.markups.io/">MarkUps.io</a></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="aa-footer-left">
                            <p>Developed by Basalaeva Svetlana</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  </footer>

