@*layout used for forms (user registration/editing, post creation/editing)*@
@using FrontEndApp.States
@inject AppState _appState
@inherits LayoutComponentBase
<section id="aa-signin">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-signin-area">
                    <div class="aa-signin-form">
                        <div class="aa-signin-form-title">
                            <a class="aa-property-home" href="">Uzbekistan Travels</a>
                            <h4>@_appState.PageTitle</h4>
                        </div>
                        @Body
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@code {
    protected override void OnInitialized()
    {
        _appState.OnChange = StateHasChanged;
    }
}
