
@inherits LayoutComponentBase
<NavMenu />
<header class="index__header">
    <div class="index__header_content">
        <h2 class="index__header_title">Welcome to Uzbekistan</h2>
        <span class="index__header_subtitle">Find best accommodation to stay:</span>
    </div>
</header>
@Body
