@inherits LayoutComponentBase
@using FrontEndApp.States
@inject AppState _appState
<NavMenu />
<header class="main__header">
    <div class="container d-flex flex-grow-1 flex-column justify-content-center">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h2 class="main__header_title">@_appState.PageTitle</h2>
            </div>
        </div>
    </div>
</header>
@Body
<Footer />
@code {
    protected override void OnInitialized()
    {
        _appState.OnChange = StateHasChanged;
    }
}