@page "/user/feedbacks/create/{UserId:long}"
@page "/post/feedbacks/create/{PostId:long}"

@inherits Components.CustomBaseComponent

@if (!AuthState.isAuthenticated)
{
    <h3>Sign in to leave feedback</h3>
}
else
{
    <p>@_feedback.ErrorMessage</p>
    <h3>Leave feedback</h3>
    <EditForm Model="_feedback" OnValidSubmit="CreateFeedback">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label for="rating">Rating</label>
        <RadzenRating @bind-Value="_feedback.Rating" id="rating" />
        <label for="feedback">Feedback text</label>
        <InputText @bind-Value="_feedback.Message" id="feedback" />
        <button class="btn btn-primary" type="submit">Leave feedback</button>
    </EditForm>
}


@code {
    [Parameter]
    public long UserId { get; set; }
    [Parameter]
    public long PostId { get; set; }
    [Parameter]
    public EventCallback<int> OnFeedbackCreated { get; set; }
    private long _feedbackOwnerId;
    private CreateFeedback _feedback = new CreateFeedback();
    private string _feedbackUri;
    private string _redirectUrl;
    protected override async Task OnInitializedAsync()
    {
        if(AuthState.isAuthenticated)
        {
            _feedbackOwnerId = long.Parse(await storage.GetItemAsync<string>("userId"));
            _feedback.UserId = _feedbackOwnerId;
        }
        if(UserId!=0)
        {
            _feedbackUri = "api/feedbacks/user";
            _redirectUrl = $"users/{UserId}";
            _feedback.ItemId = UserId;
        }
        else if(PostId!=0)
        {
            _feedbackUri = "api/feedbacks/accommodation";
            _redirectUrl = $"posts/{PostId}";
            _feedback.ItemId = PostId;
        }
    }
    private async Task CreateFeedback()
    {
        var reply = await client.PostAsJsonAsync<CreateFeedback>(_feedbackUri, _feedback);
        if (reply.IsSuccessStatusCode)
        {
            await OnFeedbackCreated.InvokeAsync();
            navManager.NavigateTo(_redirectUrl);
        }
        else
        {
            _feedback.ErrorMessage = reply.Content.ReadAsStringAsync().Result;
        }
    }
}
